@import "../abstracts/mixins";

$light-gray: #888888;

.modal__container{
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left:0;
    background: #64748bd3;

    display: flex;
}

.modal__content {
    padding: 4em 3em;
    text-align: left;

    p {
        font-weight: 300;
        line-height: 1.2;
        color: $light-gray;
        font-size: medium;
    }
}

.modal__box {
    margin-top: auto;
    background-color: snow;

    @include respond(desktop) {
        margin: auto;
        max-width: 45rem;
    }
}

.modal__title {
    &--success {
        &::before {
            content: url('../../assets/success.svg');
            margin-right: 5px;
        }
    }

    &--error {
        &::before {
            content: url('../../assets/error.svg');
            margin-right: 5px;
        }
    }
}

.modal__buttons {
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin: 2em 0;
    padding: 0 3em;
    
    @include respond(desktop) {
        flex-direction: row;
        justify-content: center;
    }
}

.modal__divider {
    display: block;
    width: 100%;
    color: $light-gray;
}